@import '/vendor/filament/filament/resources/css/theme.css';
@import '/vendor/awcodes/filament-tiptap-editor/resources/css/plugin.css';

@config 'tailwind.config.js';

p {
    margin-bottom: 1rem;
    text-align: justify;
}

@media (min-width: 64rem) {
    section > div > div.grid {
        grid-auto-flow: column;
        grid-template-columns:  3fr 1fr;
        gap: 2rem;
    }
}

section > div > div.grid > div.grid div.grid  {
    padding: 0;
    gap: 0;
}

section > div > div.grid > div.grid div.grid > div {
    border-radius: 0;
}

@media (min-width: 40rem) {
    section > div > div.grid > div.grid div.grid > div {
        padding: 0.5rem;
    }
}
